.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0;
    line-height: 1.75;
}