.home{
    height: 100%;
}

.top-content {
    height: 100%;
    background: url('../img/roast-beef-over-rice.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: hsla(209, 17%, 70%, 0.55);
}