.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
}

.submenu-title {
    font-weight: 500;
}

.submenu {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.submenu-items {
    list-style: none;
}

.submenu-items .item-row{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;

}